.form-wrapper {
  display: flex;
  max-width: 60vh;
  margin: auto;
  border: solid;
  border-color: lightgrey;
  padding: 2%;
  border-width: 1px;
}

.main-title {
  font-family: "Means Web";
}

.logo-wrapper {
  margin: 1% 2%;
}

.logo-image {
  height: 12vh;
}

.checkbox-form {
  display: flex;
}

.indications-bullets {
  padding: 0;
  margin-left: 20px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
  list-style: none;
}
.indications-bullets li::before {
  content: "\2022";
  color: lightseagreen;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.form {
  display: flex;
  flex-direction: column;
}

.submit-wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.submit-wrapper p {
  margin-top: 0;
}

.submit-wrapper input {
  align-self: flex-start;
  width: 2vh;
  height: 2vh;
  margin-top: 0;
  margin-right: 10px;
}

.input-box {
  margin: 8px 0;
  width: 80%;
  height: 2vh;
}

.signup-button {
  margin-right: 30px;
  background-color: transparent;
  border-style: solid;
  width: 120px;
  height: 40px;
}
